:root {
    --color-white:#ffffff;
    --accent-color:#fc0014;
    --accent-color: #dd0012;
    --accent-color-dark:#dd0012;
    --bg-color:#fbfbfb;
    --text-color: #564f4f;

    --border-radius:5px;
    --border-radius-images:8px;
}


//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px